/* src/styles/index.css */
@import "tailwindcss";
@import "./stepAnimator.css";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* các màu pastel custom */
  .bg-amber-soft {
    background-color: color-mix(in oklab, var(--color-amber-600) 16%, white);
  }
  .border-amber-soft {
    border-color: color-mix(in oklab, var(--color-amber-600) 40%, white);
  }
  .text-amber-deep {
    color: var(--color-amber-600);
  }

  .bg-purple-soft {
    background-color: color-mix(in oklab, var(--color-purple-500) 16%, white);
  }
  .border-purple-soft {
    border-color: color-mix(in oklab, var(--color-purple-500) 40%, white);
  }
  .text-purple-deep {
    color: var(--color-purple-500);
  }

  .bg-rose-soft {
    background-color: color-mix(in oklab, var(--color-pink-500) 16%, white);
  }
  .border-rose-soft {
    border-color: color-mix(in oklab, var(--color-pink-500) 40%, white);
  }
  .text-rose-deep {
    color: var(--color-pink-500);
  }
}
